{% extends 'photo/index.html' %}
{% block content %}
<form action="add_item" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label> Give a caption of your photo </label>
    <div>{{ form.caption }}</div>

    <label> Upload your photo </label>
    <div>{{ form.image }}</div>

    <label> Add Description About This Photo </label>
    <div>{{ form.description }}</div>

<!--    <label> add date </label>-->
<!--    <input type="date" value="{{ form.published_date }}">-->

    <label >Add Date</label>
    <div><input type="date" value="{{form.published_date}}"></div>

    <div><button type="submit">Save </button></div>

</form>
{% endblock %}